::-webkit-scrollbar-thumb {
	background: #f1f4f4;
	border-radius: 3px;
}
::-webkit-scrollbar {
	width: 6px;
	background: #1b76ff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

hr {
	background: #fff;
}

body {
	background: #fff;
    
}

html {
	scroll-behavior: smooth;
}

section {
	background: #fff;
    height: 100vh;
    width: 100%;
}

li,a,button,p,h1,h2,input,label,textarea,select,option,optgroup,h3,q,cite {
	font-family: 'Segoe UI';
	text-decoration: none;
}

header li,a,button {
	font-size: 18px;
	font-weight: 700;
	color: #383434;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	--bgcolor: #fff;
	--navcolorprime: #1665db;
	--navcolor: #1b76ff;
	background: var(--bgcolor);
	position: fixed;
	padding: 15px 10px;
	width: 100%;
	z-index: 10;
	transition: all 250ms ease-in-out;
	z-index: 11;
}

#logo {
	max-height: 46px;
	max-width: 46px;
	margin: 0 30px 0;
}

.nav_links {
	list-style: none;
}

.nav_links li {
	display: inline-block; /* Make the list items as a line */
	padding: 0 15px; /* Seperate the list items */
	transition: all 150ms ease-in-out;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

.nav-scrolled {
	--bgcolor:#1b76ff;
	--navcolorprime:#f1f4f4;
	--navcolor:#fff;
}

.mobile-nav-toggle {
	display: none; 
}

.nav_links li a {
	position: relative;
	transition: all 250ms ease-in-out;
	color: var(--navcolorprime);
}

.nav_links li a::after {
	content: "";
	position: absolute;
	width: 0;
	background: var(--navcolor);
	height: 3px;
	left: 0;
	bottom: -6px;
	transition: 0.5s;
}
.nav_links li a:hover {
	color: var(--navcolor);
	top: -5px;
}
.nav_links li a:hover::after {
	width: 100%;
}

#Home {
    display: flex;
    justify-content: center;
    align-items: center;

}

#Home-page-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 60%;
}


#Home-page-content #header h1 {
    color: #1b76ff;
    font-size: 38px;
    margin-bottom: 20px;
    font-weight: 900;
    
}

#Home-page-content #header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    padding: 15px;
    margin-right: 20px;
}

#Home-page-content > #img-container {
    width: 45%;
}

#Home-page-content #img-container img{
    max-width: 100%;
    max-height: 100%;
}

#Home-page-content #header p{
    color: #1b76ff;
    font-size: 14px;
    font-weight: 500;
	margin-bottom: 30px;
	width: 85%;
}

.see-more-btn {
	border-radius: 50px;
	padding: 9px 18px;
	font-size: smaller;
	background-color: #1b76ff;
	border: #1b76ff 2px solid;
	color: #fff;
	transition: all .25s ease-in-out;
	cursor:pointer;
}

.see-more-btn:hover {
	background-color: #fff;
	color: #1b76ff;
}

.even {
	background-color: #1b76ff;
}

#About {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-image: url(bg.jpg);
	background-repeat: repeat;
}

#about-content {
	background-color: hsla(216, 100%, 55%, .35);
	backdrop-filter: blur(10px);
	display: flex;
	height: 70%;
	width: 60%;
	padding: 10px;
	border-radius: 25px;
}

#about-content #img-container{
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 35px;
}

#about-content #img-container #img {
	background-color: #f4f4f4;
	width: 80%;
	height: 60%;
	border-radius: 15px;
}

#about-content #text-content {
	text-align: center;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#about-content #text-content h2 {
	font-size: xx-large;
	margin-bottom: 15px;
	color: #f1f4f4;
	font-weight: 800;
}

#about-content #text-content hr {
	font-size: 14px;
    font-weight: 400;
	margin-bottom: 30px;
	width: 15%;
	border: #f1f4f4 solid 2px;
	border-radius: 15px;
}

#about-content #text-content p {
	font-size: 16px;
    font-weight: 400;
	margin-bottom: 30px;
	width: 85%;
	color: #e2e4e4;
}

.section-title {
	color: var(--headercolor);
	position: absolute;
	top: 1.5em;
	left: 2.5em;
	font-size: 42px;
	font-weight: 800;
}

.section-title span {
	color: var(--spancolor);
	font-size: 18px;
	margin-left: 40px;
	position: relative;
	bottom: 25px;
	font-weight: 700;
}

.section-title span::after {
	content: "";
	position: absolute;
	background: var(--spancolor);
	height: 3px;
	left: 4px;
	width: 40%;
	bottom: -6px;
	transition: 0.5s;
	border-radius: 15px;
}

.even .section-title {
	--headercolor: #f1f4f4;
	--spancolor: #c4e4e4;
}

.odd .section-title {
	--headercolor: #1665db;
	--spancolor: #2a7af1;
}

#bd-wishes {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	flex-direction: column;
}

#card-container {
	width: 100%;
	height: 70%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 2.5em;
}

.card {
	height: 80%;
	width: 300px;
	border-radius: 15px;
	border: #1b76ff 2px solid;
	background-color: #f1f4f4;
	padding: 30px 25px;
	position: relative;
	overflow: hidden;
}

blockquote {
	padding: 40px 10px 10px 10px;
	width: 100%;
}

blockquote q {
	color: #333;
	display: block;
	font-size: 18px;
	line-height: 1.25em;
	margin-bottom: 12px;
	text-align: justify;
	quotes: "“" "”";
	font-weight: 500;
}

blockquote q::before {
	color: #1b76ff;
	content: open-quote;
	font-size: 80px;
	font-weight: bold;
	line-height: 120px;
	left: 10px;
	top: 5px;
	position: absolute;
	width: 80px;
}

blockquote q::after {
	content: close-quote;
}

blockquote cite {
	color: #999;
	position: absolute;
	bottom: 25px;
	right: 25px;
	font-weight: 700;
}

#reset-btn {
	border-radius: 50px;
	padding: 9px 18px;
	font-size: large;
	background-color: #1b76ff;
	border: #1b76ff 2px solid;
	color: #fff;
	transition: all .25s ease-in-out;
	cursor:pointer;
}

#reset-btn:hover {
	background-color: #fff;
	color: #1b76ff;
}

#Our-memories {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.card-overlay {
	z-index: 10;
	background-color: rgba(27, 118, 255, 1);
	backdrop-filter: blur(5px);
	position: absolute;
	inset: 0 0 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card-overlay[data-hide="true"] {
	display: none;
}


.card-overlay .overlay-img-circle{
	width: 125px;
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: #f1f4f4;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
}

.card-overlay .overlay-img-circle img{
	width: 50%;
	height: 50%;
}

.card-overlay h3 {
	font-size: x-large;
	font-weight: 800;
	color: #f1f4f4;
	margin-bottom: 5px;
}

.card-overlay p {
	font-size: small;
	font-weight: 700;
	color: #f1f4f4;
	margin-bottom: 5px;
}	

footer {
	width: 100%;
	padding: 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer p{
	font-size: large;
	font-weight: bolder;
	color: #1b76ff;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
	/*  */

	#Home-page-content {
		flex-direction: column-reverse;
	}

	#Home-page-content > #img-container {
		width: 90%;
	}

	#Home-page-content #header {
		height: 100%;
		width: 100%;
	}

	section {
		height: 75vh;
		width: 100%;
	}

	.nav_items {
		font-size: 16px;
			
	}

	header {
		justify-content: space-between;
		padding: 15px 10px;
		--navcolorprime:#f1f4f4;
		--navcolor:#fff;
	}

	.mobile-nav-toggle {
		position: absolute;
		z-index: 100;
		display: block; 
		background: url("menu-open.png");
		background-repeat: no-repeat;
		background-size: cover;
		width: 1.5rem;
		aspect-ratio: 1;
		top: 2rem;
		right:2rem;
		border: none;
	}

	nav[data-visible="true"] {
		transform: translateX(0);
	}

	.mobile-nav-toggle[data-expanded="true"] {
		background: url("menu-close.png");
		background-repeat: no-repeat;
    	background-size: cover;
	}

	#about-content #img-container {
		width: 90%;
		margin: 0;
	}

	#about-content #img-container #img {
		background-color: #f4f4f4;
		width: 90%;
		height: 75%;
		border-radius: 15px;
	}

	#about-content #text-content h2 {
		font-size: x-large;
		margin-bottom: 10px;
	}

	#card-container {
		flex-direction: column;
		height: 80%;
	}

	.card {
		margin-bottom: 10px;
	}

	.section-title {
		top: 0.5em;
		left: 1em;
		font-size: 28px;
	}

	.section-title span {
		font-size: 14px;
		margin-left: 20px;
		bottom: 20px;
	}

	#about-content {
		height: 80%;
		width: 100%;
		flex-direction: column;
		align-items: center;
		scale: .75;
	}

	#about-content #text-content {
		width: 100%;
	}

	.see-more-btn {
		padding: 7px 14px;
		font-size: small;
	}

	#Home-page-content #header h1 {
		font-size: 28px;
	}

	nav {
		position: fixed;
		inset: 0 0 0 40%;
		z-index: 99;
		background-color: rgba(27, 118, 255, .35);
		flex-direction: column;
		padding: min(30vh, 10rem) 0.5em;
		backdrop-filter: blur(1rem);
		transform: translateX(100%);
		transition: all 0.5s ease-in-out;
	}

	nav li {
		margin-bottom: 0.5em;
	}

	nav[data-visible="true"] {
		transform: translateX(0);
	}

	.mobile-nav-toggle[data-expanded="true"] {
		background: url("menu-close.png");
		background-repeat: no-repeat;
    	background-size: cover;
	}

	.nav-scrolled {
		--bgcolor:#1b76ff;
		
	}

}