::-webkit-scrollbar-thumb {
	background: #fff;
	border-radius: 3px;
}
::-webkit-scrollbar {
	width: 6px;
	background: #111010;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

hr {
	background: #fff;
}

body {
	background: #fff;
    
}

html {
	scroll-behavior: smooth;
}

section {
	background: #fff;
    height: 100vh;
    width: 100%;
}

li,a,button,p,h1,h2,input,label,textarea,select,option,optgroup,h3 {
	font-family: 'Segoe UI';
	text-decoration: none;
}

header li,a,button {
	font-size: 18px;
	font-weight: 700;
	color: #383434;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	--bgcolor: #fff;
	--navcolorprime: #1665db;
	--navcolor: #1b76ff;
	background: var(--bgcolor);
	position: fixed;
	padding: 15px 10px;
	width: 100%;
	z-index: 10;
	transition: all 250ms ease-in-out;
}

#logo {
	max-height: 46px;
	max-width: 46px;
	margin: 0 30px 0;
}

.nav_links {
	list-style: none;
}

.nav_links li {
	display: inline-block; /* Make the list items as a line */
	padding: 0 15px; /* Seperate the list items */
	transition: all 150ms ease-in-out;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

.nav-scrolled {
	--bgcolor:#1b76ff;
	--navcolorprime:#f1f4f4;
	--navcolor:#fff;
}

.mobile-nav-toggle {
	display: none; 
}

.nav_links li a {
	position: relative;
	transition: all 250ms ease-in-out;
	color: var(--navcolorprime);
}

.nav_links li a:after {
	content: "";
	position: absolute;
	width: 0;
	background: var(--navcolor);
	height: 3px;
	left: 0;
	bottom: -6px;
	transition: 0.5s;
}
.nav_links li a:hover {
	color: var(--navcolor);
	top: -5px;
}
.nav_links li a:hover:after {
	width: 100%;
}

#Home {
    display: flex;
    justify-content: center;
    align-items: center;

}

#Home-page-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 60%;
}


#Home-page-content #header h1 {
    color: #1b76ff;
    font-size: 38px;
    margin-bottom: 20px;
    font-weight: 900;
    
}

#Home-page-content #header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    padding: 15px;
    margin-right: 20px;
}

#Home-page-content > #img-container {
    width: 45%;
}

#Home-page-content #img-container img{
    max-width: 100%;
    max-height: 100%;
}

#Home-page-content #header p{
    color: #1b76ff;
    font-size: 14px;
    font-weight: 400;
	margin-bottom: 30px;
	width: 85%;
}

.see-more-btn {
	border-radius: 50px;
	padding: 9px 18px;
	font-size: smaller;
	background-color: #1b76ff;
	border: #1b76ff 2px solid;
	color: #fff;
	transition: all .25s ease-in-out;
	cursor:pointer;
}

.see-more-btn:hover {
	background-color: #fff;
	color: #1b76ff;
}

.even {
	background-color: #1b76ff;
}

#About {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

#about-content {
	display: flex;
	height: 90%;
	width: 80%;
	padding: 10px;
}

#about-content #img-container{
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 35px;
}

#about-content #img-container #img {
	background-color: #f4f4f4;
	width: 80%;
	height: 60%;
	border-radius: 15px;
}

#about-content #text-content {
	text-align: center;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#about-content #text-content h2 {
	font-size: xx-large;
	margin-bottom: 15px;
	color: #f1f4f4;
	font-weight: 800;
}

#about-content #text-content hr {
	font-size: 14px;
    font-weight: 400;
	margin-bottom: 30px;
	width: 15%;
	border: #f1f4f4 solid 2px;
	border-radius: 15px;
}

#about-content #text-content p {
	font-size: 16px;
    font-weight: 400;
	margin-bottom: 30px;
	width: 85%;
	color: #e2e4e4;
}

#bd-wishes {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.section-title {
	color: var(--headercolor);
	position: absolute;
	top: 1.5em;
	left: 2.5em;
	font-size: 42px;
	font-weight: 800;
}

.section-title span {
	color: var(--spancolor);
	font-size: 18px;
	margin-left: 40px;
	position: relative;
	bottom: 25px;
	font-weight: 700;
}

.section-title span:after {
	content: "";
	position: absolute;
	background: var(--spancolor);
	height: 3px;
	left: 4px;
	width: 40%;
	bottom: -6px;
	transition: 0.5s;
	border-radius: 15px;
}

.even .section-title {
	--headercolor: #f1f4f4;
	--spancolor: #c4e4e4;
}

.odd .section-title {
	--headercolor: #1665db;
	--spancolor: #2a7af1;
}